.messenger
{
    /* height:  calc(100vh - 70vh);
     */
     height: 500px;
    display: flex;
}

.chatMenu
{
    flex : 3.5
}

.chatBox
{
    flex: 5.5;
}

.chatOnline
{
    flex : 3
}

.chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper
{
    padding: 10px;
    background-color: whitesmoke;
    height: 100%;
}

.chatMenuInput
{
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}
.chatBoxWrapper
{
    display : flex;
    flex-direction: column;
    position: relative;
}

.chatBoxTop
{
    height: 100%;
    overflow-y: scroll;
}

/* .chatOnlineWrapper
{

} */

.chatBoxBottom
{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatMessageInput{
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chatSendButton
{
    width: 70px;
    height: 40px;
    border : none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
}

.noConversationText
{
    position: absolute;
    top : 10%;
    cursor: default;
    font-size: 30px;
    color : rgb(224, 220, 220);
    align-items: center;
}
